<article class="article-item" data-id="<%= article.id %>">
    <div class="article-background">
        <span class="swipe-icon left" data-action="edit">
            <i class="fas fa-pen"></i>
        </span>
        <span class="swipe-icon right" data-action="delete">
            <i class="fas fa-trash-alt"></i>
        </span>
    </div>
    <div class="article-content">
        <time class="article-date" datetime="<%= article.creationDate %>"><%= article.formattedDate %></time>
        <h3 class="article-title"><%= article.title %></h3>
        <div class="article-actions">
            <button type="button" class="btn-edit" data-action="edit">
                <i class="fas fa-pen"></i>
            </button>
            <button type="button" class="btn-delete" data-action="delete">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>
</article>