<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<main>
    <h1>Mindfulness Blog</h1>

    <% if (locals.articles && articles.length > 0) { %>
        <div class="article-list">
            <% articles.forEach(article => { %>
                <%- include('../partials/article-item', { article }); %>
            <% }); %>
        </div>
    <% } else { %>
        <p>No article found</p>
    <% } %>
</main>

<%- include('../partials/footer') %>